server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: pm2-lenka
    static_configs:
      - targets:
          - localhost
        labels:
          job: pm2-lenka
          host: raspberry-pi
          __path__: /var/log/lenka/*.log
